.App {
  max-width: 100%;
}

.children {
    margin:10px;
}

/*Default/Small Screen*/
.navbar {
    background: black;
    max-width:100%;
    height: 100%;
    padding-top: 14px;
    padding-left: 20px;
    font-family: Raleway, Calibri, Trebuchet, sans-serif;
}

.navbar h1 {
  color: white;
  margin: 0px;
  width: 100%;
  letter-spacing: 3px;
  font-weight: 100;
  font-size: 35px;
  text-shadow: 1px 1px 1px #249DDB;
}

a.link {
    color:black;
    text-decoration:none;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 25px;
    color: lightgrey;
    letter-spacing: 2px;
    font-weight: 100;
    display:inline-block;
}

a.link.active {
    color: white;
    font-weight: normal;
}


/* Large Screen */
@media screen and (min-width:768px) {
    .navbar {
        height: 70px;
    }

    .navbar h1 {
        display: inline-block;
        width: auto;
        margin-top: 5px;
    }

    a.link {
        float: right;
        display:inline-block;
        margin-top: 10px;
    }

}
