.contactPage {
    align-items: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

/* Large screen */
@media screen and (min-width:768px) {
  .contactPage {
      max-width: 30%;
    }
}


.box {
  border: 1px solid #249DDB;
  padding: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: black;
  border-radius: 1em;
  text-align: center;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Raleway, Calibri, Trebuchet, sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
}



h1 {
  color: white;
  text-align: center;
  margin-top: 0px;
}

#contactInfo h2 {
  font-size: 20px;
  color: grey;
}


#socialMedias a {
  margin:20px;
  text-decoration: none;
  color: grey;
  max-width: 100%;
}

#socialMedias a:hover {
  margin:20px;
  text-decoration: none;
  color: white;
}





/*Code from https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/My_first_HTML_form*/
.button {
    padding-left: 90px;
}
button {
    margin-left: .5em;
}
textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
input, textarea {
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid white;
}
form {
    padding: 1em;
    border: 1px solid #249DDB;
    border-radius: 1em;
    max-width: 100%;
    display: inline-block;
    background-color: black;
    color: grey;
    align-items: center;
}

.formBox {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: Raleway, Calibri, Trebuchet, sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
}
