
.projectPage {
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway, Calibri, Trebuchet, sans-serif;
    margin-bottom: 80px;
}

/* Large screen */
@media screen and (min-width:768px) {
  .projectPage {
      max-width: 70%;
    }
}

.projectPage h2 {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
}


.projectCard {
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: absolute;
  right: auto;
  left: auto;
  color: grey;
  background-color: black;
  font-family: Raleway, Calibri, Trebuchet, sans-serif;
  border: 1px solid #249DDB;
  border-radius: 1em;
}

.projectCard h2 {
  font-size: 25px;
  color: white;
  letter-spacing: 2px;
  font-weight: 100;
  margin: 5px;
}

.projectCard h3 {
  font-size: 15px;
  color: grey;
  letter-spacing: 2px;
  margin: 5px;
}

.projectCard img {
  height: 300px;
  max-width: 90%;
  margin-bottom: 15px;
}

.projectCard a {
    color: white;
    text-decoration:none;
    font-size: 15px;
    letter-spacing: 2px;
}

.projectCard a:hover {
    opacity: .5;
}
